.learn-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: #f8fafc;
}

/* LEFT */

.left-panel {
  width: 260px;
  border-right: 1px solid #eee;
  background: white;
  overflow-y: auto;
}

/* MIDDLE */

.middle-panel {
  flex: 1;
  overflow-y: auto;   /* <- move scrolling here */
}

/* RIGHT */

.right-panel {
  width: 300px;
  border-left: 1px solid #eee;
  background: white;
  overflow-y: auto;
}